---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/plans/standard-micro-aws-us-east-1
        method: GET
      response:
            - chunked
        body: '{"slug":"standard-micro-aws-us-east-1","name":"Standard Micro","price_in_cents":2000,"billing_interval_in_months":1,"single_tenant":false,"private_network":false,"available_releases":["elasticsearch-5.6.16","elasticsearch-6.8.21","elasticsearch-7.10.2","opensearch-2.6.0-mt"],"available_spaces":["omc/bonsai-gcp/us-east4/common","omc/bonsai-gcp/us-west1/common","omc/bonsai/ap-northeast-1/common","omc/bonsai/ap-southeast-2/common","omc/bonsai/eu-central-1/common","omc/bonsai/eu-west-1/common","omc/bonsai/us-east-1/common","omc/bonsai/us-west-2/common","omc/websolr/us-east-1/common"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b4359d6cf7e2ba32b5676a1136f6c033"
        status: 200 OK
        code: 200
        duration: 237.8436ms
