---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/releases
        method: GET
      response:
            - chunked
        body: '{"releases":[{"name":"Elasticsearch 2.4.0","slug":"elasticsearch-2.4.0","service_type":"elasticsearch","version":"2.4.0","package_name":"2.4.0","multitenant":false},{"name":"Elasticsearch 5.6.16","slug":"elasticsearch-5.6.16","service_type":"elasticsearch","version":"5.6.16","package_name":"5.6.16","multitenant":true},{"name":"Elasticsearch 6.3.2","slug":"elasticsearch-6.3.2","service_type":"elasticsearch","version":"6.3.2","package_name":"6.3.2","multitenant":false},{"name":"Elasticsearch 6.4.2","slug":"elasticsearch-6.4.2","service_type":"elasticsearch","version":"6.4.2","package_name":"6.4.2","multitenant":false},{"name":"Elasticsearch 6.5.4","slu[...]
