---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/clusters
        method: GET
      response:
            - chunked
        body: '{"pagination":{"page_number":1,"page_size":1000,"total_records":1},"clusters":[{"slug":"dcek-group-llc-5240651189","name":"DCEK Group, LLC search","uri":"https://api.bonsai.io/clusters/dcek-group-llc-5240651189","plan":{"slug":"sandbox-aws-us-east-1","uri":"https://api.bonsai.io/plans/sandbox-aws-us-east-1"},"release":{"service_type":"elasticsearch","package_name":"7.10.2","version":"7.10.2","slug":"elasticsearch-7.10.2","uri":"https://api.bonsai.io/releases/elasticsearch-7.10.2"},"space":{"path":"omc/bonsai/us-east-1/common","region":"aws-us-east-1","uri":"https://api.bonsai.io/spaces/omc/bonsai/us-east-1/common"},"stats":{"docs":2,"shards_used":2,"data_bytes_used":17984},"access":{"host":"dcek-group-llc-5240651189.us-east-1.bonsaisearch.net","port":443,"scheme":"https"},"state":"PROVISIONED"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"067d073e09ae505a2c52df89d915b0af"
        status: 200 OK
        code: 200
        duration: 292.8763ms
