---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/spaces
        method: GET
      response:
            - chunked
        body: '{"spaces":[{"path":"omc/bonsai/eu-west-1/common","private_network":false,"cloud":{"provider":"aws","region":"aws-eu-west-1"}},{"path":"omc/bonsai/ap-southeast-2/common","private_network":false,"cloud":{"provider":"aws","region":"aws-ap-southeast-2"}},{"path":"omc/bonsai/eu-central-1/common","private_network":false,"cloud":{"provider":"aws","region":"aws-eu-central-1"}},{"path":"omc/bonsai/us-east-1/common","private_network":false,"cloud":{"provider":"aws","region":"aws-us-east-1"}},{"path":"omc/bonsai-gcp/us-west1/common","private_network":false,"cloud":{"provider":"gcp","region":"gcp-us-west1"}},{"path":"omc/bonsai-gcp/us-east4/common","private_network":false,"cloud":{"provider":"gcp","region":"gcp-us-east4"}},{"path":"omc/bonsai/us-west-2/common","private_network":false,"cloud":{"provider":"aws","region":"aws-us-west-2"}},{"path":"omc/bonsai/ap-northeast-1/common","private_network":false,"cloud":{"provider":"aws","region":"aws-ap-northeast-1"}},{"path":"omc/websolr/us-east-1/common","private_network":false,"cloud":{"provider":"aws","region":"aws-us-east-1"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"9ba8925afc58e91e133d9a2003ae88ed"
        status: 200 OK
        code: 200
        duration: 434.5154ms
