---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/clusters
        method: GET
      response:
            - chunked
        body: '{"pagination":{"page_number":1,"page_size":1000,"total_records":2},"clusters":[{"slug":"bonsai-api-go-3216591042","name":"bonsai-api-go-test-cluster-updated","uri":"https://api.bonsai.io/clusters/bonsai-api-go-3216591042","plan":{"slug":"standard-nano-comped","uri":"https://api.bonsai.io/plans/standard-nano-comped"},"release":{"service_type":"opensearch","package_name":"2.6.0-mt","version":"2.6.0","slug":"opensearch-2.6.0-mt","uri":"https://api.bonsai.io/releases/opensearch-2.6.0-mt"},"space":{"path":"omc/bonsai/us-east-1/common","region":"aws-us-east-1","uri":"https://api.bonsai.io/spaces/omc/bonsai/us-east-1/common"},"stats":{"docs":0,"shards_used":0,"data_bytes_used":0},"access":{"host":"bonsai-api-go-3216591042.us-east-1.bonsaisearch.net","port":443,"scheme":"https"},"state":"PROVISIONED"},{"slug":"dcek-group-llc-5240651189","name":"DCEK Group, LLC search","uri":"https://api.bonsai.io/clusters/dcek-group-llc-5240651189","plan":{"slug":"sandbox-aws-us-east-1","uri":"https://api.bonsai.io/plans/sandbox-aws-us-east-1"},"release":{"service_type":"elasticsearch","package_name":"7.10.2","version":"7.10.2","slug":"elasticsearch-7.10.2","uri":"https://api.bonsai.io/releases/elasticsearch-7.10.2"},"space":{"path":"omc/bonsai/us-east-1/common","region":"aws-us-east-1","uri":"https://api.bonsai.io/spaces/omc/bonsai/us-east-1/common"},"stats":{"docs":2,"shards_used":2,"data_bytes_used":17984},"access":{"host":"dcek-group-llc-5240651189.us-east-1.bonsaisearch.net","port":443,"scheme":"https"},"state":"PROVISIONED"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"cd402e924a5732f3365a768550ff38a1"
        status: 200 OK
        code: 200
        duration: 320.8215ms
