---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: '{"name":"bonsai-api-go-test-cluster-updated","plan":"standard-nano-comped"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/clusters/bonsai-api-go-5431547241
        method: PUT
      response:
            - chunked
        body: '{"message":"Your cluster is being updated.","monitor":"https://api.bonsai.io/clusters/bonsai-api-go-5431547241","status":202}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 478.9127ms
