---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/spaces/omc/bonsai/eu-west-1/common
        method: GET
      response:
            - chunked
        body: '{"path":"omc/bonsai/eu-west-1/common","private_network":false,"cloud":{"provider":"aws","region":"aws-eu-west-1"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fd791cbb84387e9be5e89cb367a1fd95"
        status: 200 OK
        code: 200
        duration: 459.6812ms
