---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/releases/opensearch-2.6.0-mt
        method: GET
      response:
            - chunked
        body: '{"name":"OpenSearch 2.6.0","slug":"opensearch-2.6.0-mt","service_type":"opensearch","version":"2.6.0","package_name":"2.6.0-mt","multitenant":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"6f986805763c0fe363ac7d2d71e16321"
        status: 200 OK
        code: 200
        duration: 210.0072ms
