---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: '{"name":"bonsai-api-go-test-cluster-updated","plan":"standard-nano-comped"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/clusters/bonsai-api-go-9994392953
        method: PUT
      response:
            - chunked
        body: '{"errors":["This cluster is no longer active and cannot be modified. Solution: Please select a different cluster.","Your request could not be processed. "],"status":422}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 422 Unprocessable Entity
        code: 422
        duration: 73.4967ms
    - id: 1
      request:
        host: api.bonsai.io
        body: '{"name":"bonsai-api-go-test-cluster-updated","plan":"standard-nano-comped"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/clusters/bonsai-api-go-2471463249
        method: PUT
      response:
            - chunked
        body: '{"message":"Your cluster is being updated.","monitor":"https://api.bonsai.io/clusters/bonsai-api-go-2471463249","status":202}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 310.9072ms
