---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: '{"name":"bonsai-api-go-test-cluster","plan":"standard-nano-comped","space":"omc/bonsai/us-east-1/common","release":"opensearch-2.6.0-mt"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/clusters
        method: POST
      response:
            - chunked
        body: '{"message":"Your cluster is being provisioned.","monitor":"https://api.bonsai.io/clusters/bonsai-api-go-2471463249","access":{"user":"REDACTED","pass":"REDACTED","host":"bonsai-api-go-2471463249","port":443,"scheme":"https","url":"://REDACTED:REDACTED"},"status":202}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 130.6072ms
