---
version: 2
interactions:
    - id: 0
      request:
        host: api.bonsai.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.bonsai.io/plans
        method: GET
      response:
            - chunked
        body: '{"plans":[{"slug":"standard-nano-comped","name":"Standard Nano","price_in_cents":0,"billing_interval_in_months":1,"single_tenant":false,"private_network":false,"available_releases":["elasticsearch-5.6.16","elasticsearch-6.8.21","elasticsearch-7.10.2","opensearch-2.6.0-mt"],"available_spaces":["omc/bonsai-gcp/us-east4/common","omc/bonsai-gcp/us-west1/common","omc/bonsai/ap-northeast-1/common","omc/bonsai/ap-southeast-2/common","omc/bonsai/eu-central-1/common","omc/bonsai/eu-west-1/common","omc/bonsai/us-east-1/common","omc/bonsai/us-west-2/common","omc/websolr/us-east-1/common"]},{"slug":"sandbox-aws-us-east-1","name":"Sandbox","price_in_cents":0,"billing_interval_in_months":1,"single_tenant":false,"private_network":false,"available_releases":["elasticsearch-7.10.2","opensearch-2.6.0[...]
